@page "/products/create/{ProductDataSource}"

@using BlazorApp_Crud.Repository
@using Microsoft.EntityFrameworkCore
@using BlazorApp_Crud.Model
 
<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Products</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<EditForm method="post" OnValidSubmit="AddProducts" FormName="create" Enhance EditContext="editContext">
			<DataAnnotationsValidator />
			<ValidationSummary class="text-danger" role="alert" />
			<div class="mb-3">
				<label for="productname" class="form-label">ProductName:</label>
				<InputText id="productname" @bind-Value="Products.ProductName" class="form-control" aria-required="true" />
				<ValidationMessage For="() => Products.ProductName" class="text-danger" />
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price:</label>
				<InputNumber id="price" @bind-Value="Products.Price" class="form-control" />
				<ValidationMessage For="() => Products.Price" class="text-danger" />
			</div>
			<div class="mb-3">
				<label for="quantity" class="form-label">Quantity:</label>
				<InputNumber id="quantity" @bind-Value="Products.Quantity" class="form-control" />
				<ValidationMessage For="() => Products.Quantity" class="text-danger" />
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</EditForm>
	</div>
</div>
<br />

<div>
	<a href="@($"products/{@ProductDataSource}")">Back to List</a>
</div>
