@page "/products/edit"
@using BlazorApp_Crud.Repository
@using Microsoft.EntityFrameworkCore
@using BlazorApp_Crud.Model


<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Products</h2>
<hr />
@if (Products is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="row">
		<div class="col-md-4">
			<EditForm method="post" Model="Products" OnValidSubmit="UpdateProducts" FormName="edit" Enhance>
				<DataAnnotationsValidator />
				<ValidationSummary role="alert" />
				<input type="hidden" name="Products.ProductId" value="@Products.ProductId" />
				<div class="mb-3">
					<label for="productname" class="form-label">ProductName:</label>
					<InputText id="productname" @bind-Value="Products.ProductName" class="form-control" aria-required="true" />
					<ValidationMessage For="() => Products.ProductName" class="text-danger" />
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">Price:</label>
					<InputNumber id="price" @bind-Value="Products.Price" class="form-control" />
					<ValidationMessage For="() => Products.Price" class="text-danger" />
				</div>
				<div class="mb-3">
					<label for="quantity" class="form-label">Quantity:</label>
					<InputNumber id="quantity" @bind-Value="Products.Quantity" class="form-control" />
					<ValidationMessage For="() => Products.Quantity" class="text-danger" />
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</EditForm>
		</div>
	</div>
}

<div>
	<a href="@($"products/{@ProductDataSource}")">Back to List</a>
</div>

 
