@page "/products/{ProductDataSource}"
@using BlazorApp_Crud.Repository
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp_Crud.Model
 
<PageTitle>Index</PageTitle>

<p>
	<a href="@($"products/create/{ProductDataSource}")">Create New</a>
</p>

<QuickGrid Class="table" Items="ProductRepository.GetAllProductsQueryable()">
	<PropertyColumn Property="products => products.ProductName" />
	<PropertyColumn Property="products => products.Price" />
	<PropertyColumn Property="products => products.Quantity" />

	<TemplateColumn Context="products">
		<a href="@($"products/edit?productid={products.ProductId}&datasource={ProductDataSource}")">Edit</a> |
		<a href="@($"products/details?productid={products.ProductId}&datasource={ProductDataSource}")">Details</a> |
		<a href="@($"products/delete?productid={products.ProductId}&datasource={ProductDataSource}")">Delete</a>
	</TemplateColumn>
</QuickGrid>

