@page "/products/{ProductDataSource}"
@using BlazorApp_Crud.Repository
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp_Crud.Model
@* @implements IAsyncDisposable *@

@{
	string currentDataSet = DataSourceEnum.GrpahQL.ToString();
}
<PageTitle>Index</PageTitle>

<p>
	<a href="@($"products/create/{currentDataSet}")">Create New</a>
</p>

<QuickGrid Class="table" Items="ProductRepository.GetAllProductsQueryable()">
	<PropertyColumn Property="products => products.ProductName" />
	<PropertyColumn Property="products => products.Price" />
	<PropertyColumn Property="products => products.Quantity" />

	<TemplateColumn Context="products">
		<a href="@($"products/edit?productid={products.ProductId}&datasource={currentDataSet}")">Edit</a> |
		<a href="@($"products/details?productid={products.ProductId}&datasource={currentDataSet}")">Details</a> |
		<a href="@($"products/delete?productid={products.ProductId}&datasource={currentDataSet}")">Delete</a>
	</TemplateColumn>
</QuickGrid>

